.header-image {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #03c003;
  text-decoration: none;
}

a:hover {
  color: #910d0d;
  text-decoration: none;
}

nav a {
  font-weight: bold;
}


nav {
  text-align: center;
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  font-family: 'Pretendard', 'Ariel', monospace;
  background-color: #2a7f64;
  color: #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: justify;
}
  
::selection {
  background-color: #00ff00;
  color: #000000;
}

.main-wrapper {
  width: 100%;
}
  
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 20px;
}

main .container {
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #000000;
  }

.post-container {
  max-width: 350px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 20px;
}

main .post-container {
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.pagination {
  text-align: center;
  margin-top: 15px;
}

.prev-button {
  display: inline-block;
  padding: 8px 10px;
  background-color: #464646;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 12px;
}

.prev-button:hover {
  background-color: #306465;
  color: #ffffff;
  text-decoration: none;
}