<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8/dist/turbo.es2017-umd.js" defer></script>
  <script type="text/javascript">
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body class="layout-{{ page.layout }}">
    <header>
      <div class="container">
        <div class="header-image">
          <a href="https://ki11dee.github.io/popcornparrot/" class="no-target">
            <img src="{{ '/assets/img/Title.png' | relative_url }}" alt="Header Logo" class="no-border">
          </a>
        </div>
        <nav>
          <a href="{{ '/index.html' | relative_url }}">Home</a> | <a href="{{ '/List/BP/bp.html' | relative_url }}">BP</a> | <a href="{{ '/List/Doodles/doodles.html' | relative_url }}">Doodles</a> | <a href="{{ '/List/SM/sm.html' | relative_url }}">Room</a>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const links = document.querySelectorAll('a[href]');
      links.forEach(link => {
        if (!link.classList.contains('no-target') && link.hostname !== window.location.hostname) {
          link.setAttribute('target', '_blank');
        }
      });
    });
  </script>
  {% include bgm.html %}
</body>
</html>