<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="main-wrapper">
    <header>
      <div class="container">
        <div class="header-image">
          <img src="{{ '/assets/img/ascii-text-art.png' | relative_url }}" alt="Header Logo">
        </div>
        <nav>
          <a href="{{ '/index' | absolute_url }}">소개</a> | <a href="{{ '/List/BP/bp.html' | absolute_url }}">bp</a> | <a href="{{ '/List/Doodles/doodles.html' | absolute_url }}">낙서</a> | <a href="{{ '/List/SM/sm.html' | absolute_url }}">비밀의 공간</a> | <a href="https://ki11dee.github.io/">나</a>
        </nav>
      </div>
    </header>
    
    <main>
      <div class="post-container">
        {{ content }}
      </div>
    </main>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const links = document.querySelectorAll('a[href]');
      links.forEach(link => {
        if (link.hostname !== window.location.hostname) {
          link.setAttribute('target', '_blank');
        }
      });
    });
  </script>  
</body>
</html>
