<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="main-wrapper">
    <header>
      <div class="container">
        <a href="{{ '/' | relative_url }}" class="ascii-link"></a>
          <pre class="ascii-art">
███████ ███████ ███████ 
██      ██         ███  
███████ █████     ███   
     ██ ██       ███    
███████ ██      ███████ 
          </pre>
        </a>
        <nav>
          <a href="{{ '/index' | absolute_url }}">소개</a> | <a href="{{ '/List/BP/bp.html' | absolute_url }}">bp</a> | <a href="{{ /List/Doodles/doodles.html | absolute_url }}">낙서</a> | <a href="{{ /List/Pic/pic.html | absolute_url }}">사진</a> | <a href="{{ /List/SM/sm.html | absolute_url }}">비밀의 공간</a> | <a href="https://ki11dee.github.io/">나</a>
        </nav>
      </div>
    </header>
    
    <main>
      <div class="secret-container">
        {{ content }}
      </div>
    </main>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const links = document.querySelectorAll('a[href]');
      links.forEach(link => {
        if (link.hostname !== window.location.hostname) {
          link.setAttribute('target', '_blank');
        }
      });
    });
  </script>  
</body>
</html>
